.reformer-icon {
	background-image:url(../images/icons/reformer-active_2x.png);
}

.bodypump-icon {
	background-image:url(../images/icons/bodypump-active_2x.png);
}

.rpm-icon {
	background-image:url(../images/icons/rpm-active_2x.png);
}

.boxing-icon {
	background-image:url(../images/icons/boxing-active-icon_2x.png);
}

.body-combat-icon {
	background-image:url(../images/icons/body-combat-icon_2x.png);
}

.abs-icon {
	background-image:url(../images/icons/abs-active-icon_2x.png);
}

.aqua-icon {
	background-image:url(../images/icons/aqua-active-icon_2x.png);
}

.phase-icon {
	background-image:url(../images/icons/phase-active-icon_2x.png);
}

.yoga-icon {
	background-image:url(../images/icons/yoga-active-icon_2x.png);
}

.step-icon {
	background-image:url(../images/icons/step-active-icon_2x.png);
}

.shred-icon {
	background-image:url(../images/icons/shrded-active-icon_2x.png);
}

.zumba-icon {
	background-image:url(../images/icons/zumba-active-icon_2x.png);
}

.fbc-icon {
	background-image:url(../images/icons/fbs-active-icon_2x.png);
}

.pilates-icon {
	background-image:url(../images/icons/pilates-active-icon_2x.png);
}

.bootcamp-icon {
	background-image:url(../images/icons/bootcamp-active-icon_2x.png);
}

.stretch-icon {
	background-image:url(../images/icons/strech-active-icon_2x.png);
}